path {
    stroke-width: 1px;
    stroke: gray;
}

.labelLine {
    stroke-width: 1.5px;
}

text {
    font: 20px Helvetica, Arial, sans-serif;
    fill: #999;
    font-weight: 500;
}

.textBackground {
   stroke-width: 0.3em;
}

g text {
    text-anchor: middle;
    font-size: 10px;
    font-weight: 200;
    fill: #444;
}